#box {
      width: 200px;
      height: 100px;
      background-color: lightgray;
      text-align: center;
      line-height: 100px;
      margin-bottom: 20px;
      font-weight: bold;
    }

    input {
      display: block;
      margin-bottom: 15px;
      padding: 8px;
    }

    button {
      padding: 8px 15px;
    }