body {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.paragraph {
    margin-top: 30px;
}

/* Each sentence has a box */
.text {
    font-size: 18px;
    margin: 12px 0;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* Highlight only active one */
.text.on {
    background-color: yellow;
}
