body {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.paragraph {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: gray;
    border: 3px solid #444;
    transition: 0.3s;
}

.paragraph.on {
    background: yellow;
    box-shadow: 0 0 20px yellow;
}
