body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 30px;
}

/* button {
    padding: 12px 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
} */

/* #onBtn {
    background-color: #22c55e;
    color: white;
}

#offBtn {
    background-color: #ef4444;
    color: white;
} */

/* button:hover {
    transform: scale(1.05);
} */

.bulbs {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.bulb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: gray;
    border: 3px solid #444;
    transition: 0.3s;
    cursor: pointer;
}

.bulb.on {
    background: yellow;
    box-shadow: 0 0 25px yellow;
}
